# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
pacote-download/cinema/cinema.layout
pacote-download/cinema/cinema.depend
pacote-download/cinema/cinema.cbp
pacote-download/cinema/.vscode/launch.json
pacote-download/MelhorAluno/MelhorAluno.cbp
pacote-download/MelhorAluno/MelhorAluno.depend
pacote-download/MelhorAluno/MelhorAluno.layout
pacote-download/NumeroPar_Impar/NumeroPar_Impar.layout
pacote-download/NumeroPar_Impar/NumeroPar_Impar.depend
pacote-download/NumeroPar_Impar/NumeroPar_Impar.cbp
pacote-download/NumeroPar_Impar/main.cpp
